.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
}

.setster-logo {
  height: 30px;
  width: 100%;
}

.setster-icon{
  background: url('https://cdn2.hubspot.net/hub/5361766/hubfs/Setster%20Logo%20Square%20Small-1.png?width=108&height=108');
  background-size: cover;
  /* position: absolute; */
    /* width:1.5em;
    height:1.5em; */
    width: auto;
    height: auto;
}

.info-blockquote{
  border-left: 8px solid #ffe564;
  background-color: rgba(255,229,100,.3);
  padding: 15px 30px 15px 15px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.warn-blockquote{
  border-left: 8px solid #ffe564;
  background-color: rgba(255,229,100,.3);
  padding: 15px 30px 15px 15px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.App-header {
  /* background-color: #d0021b; */
  background: linear-gradient( -63.43000000000001deg, #d0021b 15%, #9d0214 85%);
  /* height: 150px; */
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  font-family: "Source Sans Pro",sans-serif;
}

.App-title-h4 {
  font-size: 1em;
  font-family: "Source Sans Pro",sans-serif;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


body{
  margin: 0px;
}

.setster-btn{
  position: relative;
  z-index: 3;
  overflow: hidden;
  padding: 15px 30px;
  border-radius: 0px;
  background-color: #07183b;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase; margin: 2px;
}

.ui{
  font-family: "Source Sans Pro",sans-serif;
}

h1.ui.header{
  font-size: 3.5em;
  font-weight: 600;
    font-family: "Source Sans Pro",sans-serif;

}
h2.ui.header{
  font-size: 1.875em;
  font-weight: 100;
    font-family: "Source Sans Pro",sans-serif;

}

button.ui.inverted.primary.button{
  box-shadow: 0px 0px 5px 0px rgb(35 35 35 / 34%) !important;
}

button.ui.inverted.primary.buttons .button{
  box-shadow: 0px 0px 5px 0px rgb(35 35 35 / 34%) !important;
}

.ui.inverted.primary.button.get-started{
  box-shadow: none !important;
}

.ui.inverted.primary.button.get-started:hover{
  box-shadow: 0px 0px 5px 0px rgb(35 35 35 / 34%) !important;
  color: #d0021b!important;
  background-color: #fff !important;
}

.ui.menu>.container.menu-container{
  margin-left:  50px !important;
  margin-right:  50px !important;
  width: 100%;
}

.ui.inverted.button.sign-up{
  box-shadow: none !important;
  color: rgba(255,255,255,.7) !important;
}

.ui.inverted.button.sign-up:hover{
  box-shadow: none !important;
  color: #fff !important;
  box-shadow: 0 0 0 2px #fff inset!important;

}

.explore-btn{
  box-shadow: 0px 0px 5px 0px rgb(35 35 35 / 34%) !important;
  color: #d0021b!important;
  background-color: #fff !important;
}

.explore-btn:hover{
  box-shadow: 0px 0px 5px 0px rgb(35 35 35 / 34%) !important;
  color: #fff!important;
  background-color: #d0021b !important;
}

.segment-btn{
  box-shadow: 0px 0px 5px 0px rgb(35 35 35 / 34%) !important;
  color: #fff !important;
  background-color: #d0021b !important;
}

.segment-btn:hover{
  box-shadow: 0px 0px 5px 0px rgb(35 35 35 / 34%) !important;
  border: solid 2px #000 !important;
  color: #fff!important;
  background-color: #000 !important;
}