.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
}

.setster-logo {
  height: 30px;
  width: 100%;
}

.setster-icon{
  background: url('https://cdn2.hubspot.net/hub/5361766/hubfs/Setster%20Logo%20Square%20Small-1.png?width=108&height=108');
  background-size: cover;
  /* position: absolute; */
    /* width:1.5em;
    height:1.5em; */
    width: auto;
    height: auto;
}

.info-blockquote{
  border-left: 8px solid #ffe564;
  background-color: rgba(255,229,100,.3);
  padding: 15px 30px 15px 15px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.warn-blockquote{
  border-left: 8px solid #ffe564;
  background-color: rgba(255,229,100,.3);
  padding: 15px 30px 15px 15px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.App-header {
  /* background-color: #d0021b; */
  background: linear-gradient( -63.43000000000001deg, #d0021b 15%, #9d0214 85%);
  /* height: 150px; */
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  /* font-family: "Source Sans Pro",sans-serif; */
}

.App-title-h4 {
  font-size: 1em;
  /* font-family: "Source Sans Pro",sans-serif; */
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


body{
  margin: 0px;
}

.setster-btn{
  position: relative;
  z-index: 3;
  overflow: hidden;
  padding: 15px 30px;
  border-radius: 0px;
  background-color: #07183b;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase; margin: 2px;
}

.ui{
  /* font-family: "Source Sans Pro",sans-serif; */
}

h1.ui.header{
  font-size: 3.5em;
  font-weight: 900;
  font-family: Lato, sans-serif;
  color: #4d4d4d;
    /* font-family: "Source Sans Pro",sans-serif; */

}
h2.ui.header{
  font-size: 1.875em;
  font-weight: 100;
    /* font-family: "Source Sans Pro",sans-serif; */

}

button.ui.inverted.primary.button{
  box-shadow: 0px 0px 5px 0px rgb(35 35 35 / 34%) !important;
}

button.ui.inverted.primary.buttons .button{
  box-shadow: 0px 0px 5px 0px rgb(35 35 35 / 34%) !important;
}

.ui.primary.button.get-started{
  box-shadow: none !important;
  /* box-shadow: 0px 0px 5px 0px rgb(35 35 35 / 34%) !important; */
  /* color: #d0021b!important; */
  padding: 15px 30px;
  border-radius: 0px;
  /* background-image: #07183b; */
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase; margin: 2px;
  /* transition: background-position 1s; */
  background-size: 200% 200%;
  background-image: linear-gradient(to left, white 50%,#07183b 0% );
  background-position: left;

  /* -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  transition: background-position 1s; */
  display: inline-block;
  transition: background-position .3s, color .3s;

}

.ui.primary.button.get-started:hover{
  /* box-shadow: 0px 0px 5px 0px rgb(35 35 35 / 34%) !important; */
  color:  #07183b!important;
  /* background-color: #fff; */
    box-shadow: none !important;
    /* background-position: 0 -100%; */
    background-position: right;
    /* background-position: left; */
    transition-timing-function: linear;
    /* transition: background-color .3s, color .3s;
    transition-timing-function: linear; */
  /* background-color: #d0021b !important; */
  /* background-color:  linear-gradient(90deg, rgba(53,67,96,1) 24%, rgba(29,44,76,1) 53%, rgba(7,24,59,1) 83%);;
  background: rgb(97,129,198); */
/* background-color: linear-gradient(49deg, rgba(97,129,198,1) 8%, rgba(53,67,96,1) 40%, rgba(29,44,76,1) 75%)!important; */
}

.ui.menu>.container.menu-container{
  margin-left:  50px !important;
  margin-right:  50px !important;
  width: 100%;
}

.ui.inverted.button.sign-up{
  box-shadow: none !important;
  /* color: rgba(255,255,255,.7) !important; */
  color: #020918 !important;
}

.ui.inverted.button.sign-up:hover{
  box-shadow: none !important;
  /* color: #fff !important; */
  color: #ababab !important;
  box-shadow: 0 0 0 2px #fff inset!important;
  text-decoration: underline;
}

.explore-btn{
  box-shadow: 0px 0px 5px 0px rgb(35 35 35 / 34%) !important;
  color: #d0021b!important;
  background-color: #fff !important;
}

.explore-btn:hover{
  box-shadow: 0px 0px 5px 0px rgb(35 35 35 / 34%) !important;
  color: #fff!important;
  background-color: #d0021b !important;
}

.segment-btn{
  /* box-shadow: 0px 0px 5px 0px rgb(35 35 35 / 34%) !important; */
  color: #07183b !important;
  box-shadow: none!important;
  /* background-color: #d0021b !important; */
  background-color: white !important;
  border-radius: 0% !important;
  text-transform: uppercase !important;
}

.segment-btn:hover{
  /* box-shadow: 0px 0px 5px 0px rgb(35 35 35 / 34%) !important; */
  /* border: solid 1px #000 !important; */
  color: #fff!important;
  background-color: #07183b !important;
  transition: background-color .3s, color .3s;
  transition-timing-function: linear;
}

.api-info-version {
  display: none;
}
.menu-container .item:hover{
  color: #ababab !important;
}

.cards-grid:hover{
  transition: .5s;
  background-color: #eee !important;
}
